**KNeighbor classifier Implementation**

1.**Importing required libraries**

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [3]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/MyDrive/iris.csv'
df=pd.read_csv(path)
df

Mounted at /content/drive

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Checking if there are any null values

In [5]:
df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

Encoding Columns

In [6]:
le = LabelEncoder()
label = le.fit_transform(df['variety'])
print(len(label))
print(label)

150
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [7]:
df['variety'] = label
df

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

Standardizing Data set: Subtract mean of each column from each cell and divide with S.D of each column [Column Speicific]<br>
**To Give Equal Importance to each feature**

In [8]:
scaler = StandardScaler()
scaler.fit(df.drop('variety', axis = 1))
scaled_features = scaler.transform(df.drop('variety', axis = 1))
scaled_df = pd.DataFrame(scaled_features,columns = df.drop('variety', axis = 1).columns)
scaled_df
# Drop Target variable Column

     sepal.length  sepal.width  petal.length  petal.width
0       -0.900681     1.019004     -1.340227    -1.315444
1       -1.143017    -0.131979     -1.340227    -1.315444
2       -1.385353     0.328414     -1.397064    -1.315444
3       -1.506521     0.098217     -1.283389    -1.315444
4       -1.021849     1.249201     -1.340227    -1.315444
..            ...          ...           ...          ...
145      1.038005    -0.131979      0.819596     1.448832
146      0.553333    -1.282963      0.705921     0.922303
147      0.795669    -0.131979      0.819596     1.053935
148      0.432165     0.788808      0.933271     1.448832
149      0.068662    -0.131979      0.762758     0.790671

[150 rows x 4 columns]

In [9]:
x = scaled_df
y = df['variety']

**TESTING ACCURACY FOR DIFFENRENT NUMBER OF NEIGHBORS**

In [40]:
for i in range(1,40,2):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)
    model = KNeighborsClassifier(n_neighbors = i)
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    print(metrics.accuracy_score(y_test,y_pred),i,end = " ")
    print()

0.9777777777777777 1
0.9333333333333333 3
0.8888888888888888 5
0.9555555555555556 7
0.9777777777777777 9
0.9555555555555556 11
0.9555555555555556 13
0.9333333333333333 15
0.9555555555555556 17
0.9555555555555556 19
0.9333333333333333 21
0.9777777777777777 23
0.8888888888888888 25
0.9111111111111111 27
0.8222222222222222 29
0.9555555555555556 31
0.8222222222222222 33
0.8222222222222222 35
0.8888888888888888 37
0.9333333333333333 39